body {
    font-family: sans-serif;
    background-color: lightblue;
    color: #222;
}

h1 {
    text-align: center;
}

#contenedor-balance {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#contenedor-resumen {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 45vw;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#balance {
    margin-bottom: 35px;
}

#contenedor-totales {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#contenedor-ingresos, #contenedor-gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    box-shadow: inset -4px 10px 15px rgba(0, 0, 0, 0.3);
    width: 19vw;
    padding: 10px;
}

#contenedor-ingresos {
    background: rgba(144, 238, 144, 1);
}

#contenedor-gastos {
    background: rgba(255, 99, 71, 0.3);
}

#contenedor-totales h3 {
    margin-bottom: 8px;
}

#total-ingresos, #total-gastos {
    margin-top: 8px;
}

#contenedor-grafico {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 45vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    max-height: 270px;
    width: 88% !important;
    padding: 20px 0;
}

#contenedor-ingresos-gastos {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

#contenedor-forms {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 45vw;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor-listas {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 45vw;
    padding: 10px;
}

#listas {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

#lista-ingresos, #lista-gastos {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-listas {
    margin-left: 20px;
}

ul {
    padding: 0;
}

ul li {
    gap: 20px;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

input {
    border: 1px solid grey;
}

.campo-monto {
    width: 130px;
}

button {
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#agregar-ingreso {
    background-color: lightseagreen;
}

#agregar-ingreso:hover {
    background-color: seagreen;
}

#agregar-gasto {
    background-color: #6070f0;
}

#agregar-gasto:hover {
    background-color: #4049c0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: red;
}

li button:hover {
    background-color: darkred;
}